
.login{
  /* border:.1px solid black; */
  margin:.34em auto;
}
.form{
  display:flex;
  justify-content: center;
  align-items:center;
  /* 不换行就会溢出 */
  flex-wrap:wrap;
}
.c{
  width:100%;
  text-align:center;
  margin:.34em 0;
  /* flex:1; */
}
.c .quic{
  display:inline-block;
  margin:.12em 0;
  font-weight: 600;
}
.form .a{
  padding:.3em .2em;
  border:.15em solid rgb(197, 197, 197);
  outline:none;
  box-sizing:border-box;
  border-radius:.34em;
  margin:.4em 0 ;
}
.form .a:focus{
  border-bottom:.19em solid rgb(195, 52, 0);
}
.form .a::placeholder{
  color:#d0d0d0;
  font-size:.88em;
}
.form .auth a{
  text-decoration:none;
  color:#777;
  font-size:.68em;
}
/* 设置验证码位置 */
.form .auth .getauthid{
  position:absolute;
  margin-top:-1.9em;
  margin-left:6.4em;
}
.c .btn-b{
  width:30%;
  background:linear-gradient(to right, rgb(182, 101, 101),rgb(161, 28, 28));
  border:none;
  border-radius:.34em;
  outline:none;
  padding:.3em 0;
  color:#fff;
  cursor:pointer;
}